/* Core stylesheet for DevTools UI. */

html {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    color: var(--text-color);
}

::-webkit-scrollbar { 
    display: none; 
}

.tab {
    display: none;
    position: relative;
    padding: 0;
}

.tab.active {
    display: initial;
}

.maint {
    background-color: var(--diff-color-b);
}

.panel {
    border: 1px solid var(--line-color);
    border-top: 0;
    margin-bottom: 0.5em;
}

.panel-header {
    background-color: var(--diff-color-a);
    display: block;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.2em;
}

.panel-div:not(:first-child) {
    margin-top: 1em;
}

.panel-div-title {
    display: block;
    margin-bottom: 0.25em;
    font-size: 1.1em;
    text-decoration: underline var(--text-color) solid;
}


.tablist {
    margin-bottom: 0.5em;
    padding: 0;
}

.nav-tab {
    display: inline-block;
    margin-top: 0.25em;
    padding: 0.3em;
    background-color: var(--diff-color-a);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}


.display {
    display: inline-block;
    border: 1.7px solid var(--diff-color-a);
    padding: 0.2em;
    vertical-align: top;
    margin: 0.1em 0;
}

#time .display {
    text-align: center;
}

.group, #places .panel-content > * {
    display: inline-block;
    margin-right: 0.3em;
    vertical-align: top;
}

.timer-display {
    display: block;
    font-size: 1.7em;
    line-height: 0.9em;
}

#timer-st-time .timer-display {
    font-size: 1em;
    line-height: 0.7em;
    margin-bottom: 0.5px;
}

.div-hor {
    display: inline-block;
}

.div-hor:not(:last-child) {
    margin-right: 0.5em;
}

.value-display {
    clear:both;
/*    text-align: right*/
}

.value-display > * {
    margin-left: 0.25em;
    float:right;
}

.max-value {
    opacity: 0.6;
    position: relative;
    top: 2px;
    font-size: 0.9em;
    margin-left: 0.1em;
}

.current-value {
    position: relative;
    bottom: 2px;
    font-size: 1.1em;
    margin-right: 0.15em;
}

#time {
    text-align: center;
}

#time .display-title {
    opacity: 0.75;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
/*    padding-left: 1em;*/
}

.hidden {
    display: none !important;
}

.highlight {
    background-color: var(--highlight-color);
}
.tab-view-list {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.tab-view {
    display: inline-block;
    margin-right: 0.1em;
    padding: 0.2em;
    vertical-align: baseline;
    line-height: 1;
    cursor: pointer;
/*    background-color: var(--diff-color-b)*/
}

.nav-tab.active,
.tab-view.active {
    background-color: var(--selection-color)
}

.collection-item {
    display: inline-block;
    text-align: center;
    margin: 0.1em;
}

.collection-icon {
    height: 3.5em;
    width: 3.5em;
    display: inline-block;
}

.spacer {
    margin-bottom: 0.5em;
}
.sep {
    margin-bottom: 0.4em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid var(--line-color);
}
.sep-v {
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-left: 0.5em;
    border-left: 1px solid var(--line-color);
}

.panel-content {
    margin: 0.2em;
}

.panel-content > span{
    display: block;
}

.panel-filter {
/*    margin: 0.5em;*/
    margin-bottom: 0.5em;
}

.panel-filter li {
    display: inline-block;
    opacity: 0.5;
    margin-right: 0.2em;
}

.panel-filter li.active{
    opacity: 1;
    background-color: initial;
}



.panel-filter ul {
    display: inline-block;
    margin-right: 1em;
}



.view {
    display: none;
}

.view.active {
    display: initial;
}

.supply-list {
    text-align: justify;
}

.time-s {
    opacity: 0.6;
    font-size: 0.6em;
}

select, option {
    background-color: var(--bg-color);
    color: inherit;
    border-color: var(--diff-color-a)
}

.planner-current {
    font-size: 1.4em
}
.planner-needed {
    opacity: 0.5;
}

.fade {
    opacity: 0.3;
}
.warn {
    background-color: var(--diff-color-b)
}

/* Raids */
#raids-list a {
    color: inherit;
    text-decoration: none;
}
.raid {
    display: grid;
    /* grid-template-columns: 60px auto; */
    grid-template-rows: 1fr;
    grid-template-areas: "thumb data toggle";
    align-items: center;
    margin-bottom: 5px;
}
.raid * {
    vertical-align: middle;
/*    margin-right: 2em;*/
}
.raid-icon {
    height: 3em;
    grid-area: thumb;
    margin-right: 0.5em;
/*    width: calc(20% - 2em);*/
}
.raid-data {
    display: grid;
    grid-area: data;
    align-items: center;
    /* grid-template-columns: 1fr 50px 80px 2fr; */
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 100%;
    grid-template-areas: "name cost mat hosts";
}
.raid-name {
    grid-area: name;
    min-width: 125px;
    /* line-height: 2em; */
    cursor: pointer;
}
.raid-name:hover {
    background-color: var(--highlight-color);
}
.raid-cost {
    grid-area: cost;
}
.raid-cost:not(:empty)::after {
    content: " AP";
}
.raid-host-mats {
    grid-area: mat;
    min-width: 80px;
}
.raid-mat-icon {
    height: 1.5em;
}
.raid-mat {
    margin: 2px;
    cursor: pointer;
}
.raid-mat * {
/*    Needed for hosting script*/
    pointer-events: none;
}
.raid-mat:hover {
    background-color: var(--highlight-color);
}
.mat-group .raid-mat:not(:last-child)::after {
    content: "\2938";
    top: 1em;
    position: relative;
}
.raid-hosts {
    grid-area: hosts;
    display: inline-block;
    margin-right: 0;
}
.raid-toggle {
    grid-area: toggle;
}
.raid-toggle:before {
    content: "X";
/*    cursor: pointer;*/
    font-size: 1.2em;
    color: var(--diff-color-c);
}

.canvas-container {
    width: 100%;
    position: relative;
    /* Required when not forcing AR in chart.js */
    max-height: 40vh;
    min-height: 20vh;
    height: 40vw;
}
.canvas-container.chara-graph {
    max-height: 25vh;
}

button {
/*    background-color: var(--diff-color-a);*/
/*    background-color: inherit;*/
    background-color: rgba(128, 128, 128,0.4);
    color: inherit;
    border: none;
/*    border: 2px solid var(--diff-color-a);*/
    padding: 0.3em;
}

/* Battle */
.battle-char-container {
    width: 32%;
    margin: 0.5em 0.2em;
    display: inline-block;
}
.battle-stats-container { /*Used only for chars it seems*/
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}
.battle-stats-container .battle-stats-container { /*Nested*/
    grid-area: auto / left /auto / right;
}
.battle-stats-container .sep, .battle-stats-container .spacer {
    grid-area: auto / left / auto / right;
}
.battle-stats {
    display: inline-block;
}
.group .battle-stats {
    display: block;
}

.battle-char-name, .battle-boss-name {
    text-align: center;
    background-color: rgba(255,255,255,0.2);
}

.centered {
    text-align: center;
}


#raid-current-drop-list {
    padding: 0.5em;
}

.raid-current-drop {
    display: inline-block;
    text-align: center;
    margin: 0.15em 0.15em;
    vertical-align: top;
}

.raid-current-drop img {
    max-width: var(--icon-size-raid-info);
}

.raid-current-drop span {
    display: block;
    max-width: var(--icon-size-raid-info);
/*    max-height: 2.4em;*/
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

[data-event] {
    cursor: pointer;
}
[data-event=navigation] * {
    pointer-events: none;
}

#raid-next-quest {
    background-color: var(--diff-color-b);
    font-size: 1.5em;
}

#inactive {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.65);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    text-align: center;
}

.place-link {
    padding: 0.1em;
}

.place-link:hover {
    background-color: var(--selection-color);
}

#last-hosted-quest:not(:empty)::after {
    content: " \21BB";
    /* content: " \27F3"; */
    font-size: 1.2em;
}

.buffTimer {
    margin-right: 0.2em;
    font-size: 0.8em;
}

.buffTimer img {
    height: 22px;
}

.small-log {
    font-size: 0.75em;
    background-color: black;
    opacity: 0.5;
    white-space: pre-line;
    grid-template-columns: 1fr;
}

@media (max-width: 450px) {
    .battle-char-container {
        width: 48%;
        margin: 0.2em 2px;
    }

    .raid-data {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "cost mat hosts";
    }
    .raid-name {
        display: none;
    }
    .raid-icon {
        height: 6em;
        margin-right: 0.5em;
    }
}

.battle-warn {
    text-align: center;
    background-color: var(--diff-color-c);
    margin: 0.2em 0;
}

.header {
    text-align: center;
    font-size: 1.2rem;
}

#battle-boss-trigger-name {
    color: var(--highlight-color);
}

#battle-boss-name {
    text-decoration: underline;
    font-weight: bold;
}

.indent {
    padding-left: 1em !important;
}

#battle-boss-ougi-list {
    margin: 0.25em 0;
}

#battle-boss-ougi-list li {
    list-style-type: square;
}

/*
.battle-boss-container {
    width: 32%;
    margin: 0.5em 0;
    display: inline-block;
}
*/


.battle-stats span {
    color: var(--highlight-color);
}
.skillExpand {
    text-align: center;
    grid-area: auto / left / auto / right;
    margin-top: 0.4em;
}