/* Core stylesheet for DevTools UI. */

html {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.tab {
    display: none;
    position: relative;
    padding: 0;
}

.tab.active {
    display: initial;
}

.maint {
    background-color: var(--diff-color-b);
}

.panel {
    border: 1px solid var(--line-color);
    border-top: 0;
    margin-bottom: 1.5em;
}

.panel-header {
    background-color: var(--diff-color-a);
    display: block;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.2em;
}

.panel-div:not(:first-child) {
    margin-top: 1em;
}

.panel-div-title {
    display: block;
    margin-bottom: 0.25em;
    font-size: 1.1em;
    text-decoration: underline var(--text-color) solid;
}


.tablist {
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0;
}

.nav-tab {
    display: inline-block;
    margin-top: 0.25em;
    padding: 0.5em;
    background-color: var(--diff-color-a);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}



.display {
    display: inline-block;
    border: 2px solid var(--diff-color-a);
    padding: 0.5em;
    vertical-align: top;
    margin: 0.2em 0;
}

#time .display {
    text-align: center;
}

#top-display {
/*    margin-bottom: 2em;*/
}

.div {
/*
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--line-color);
*/
}

.timer-display {
    display: block;
    font-size: 2em;
}

.div-hor {
    display: inline-block;
}

.div-hor:not(:first-child) {
    margin-left: 0.5em;
}

#profile {
}

.value-display {
    clear:both;
/*    text-align: right*/
}

.value-display > * {
    margin-left: 0.25em;
    float:right;
}

.max-value {
    opacity: 0.6;
    position: relative;
    top: 2px;
    font-size: 0.9em;
    margin-left: 0.1em;
}

.current-value {
    position: relative;
    bottom: 2px;
    font-size: 1.1em;
    margin-right: 0.15em;
}

#time {
    text-align: center;
}

#time .display-title {
    opacity: 0.75;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
/*    padding-left: 1em;*/
}

.hidden {
    display: none !important;
}

.highlight {
    background-color: var(--highlight-color);
}
.tab-view-list {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.tab-view {
    display: inline-block;
    margin-right: 0.1em;
    padding: 0.2em;
    vertical-align: baseline;
    line-height: 1;
    cursor: pointer;
/*    background-color: var(--diff-color-b)*/
}

.nav-tab.active,
.tab-view.active {
    background-color: var(--selection-color)
}

.collection-item {
    display: inline-block;
    text-align: center;
    margin: 0.1em;
}

.collection-icon {
    height: 3.5em;
    width: 3.5em;
    display: inline-block;
}

.spacer {
    margin-bottom: 1em;
}



.sep {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--line-color);
}

.panel-content {
    margin: 0.5em;
}

.panel-content > span{
    display: block;
}

.panel-filter {
    margin: 0.5em;
    margin-bottom: 1em;
}

.panel-filter li {
    display: inline-block;
    opacity: 0.5;
    margin-right: 0.2em;
}

.panel-filter li.active{
    opacity: 1;
    background-color: initial;
}



.panel-filter ul {
    display: inline-block;
    margin-right: 1em;
}



.view {
    display: none;
}

.view.active {
    display: initial;
}

.supply-list {
    text-align: justify;
}

.time-s {
    opacity: 0.6;
    font-size: 0.5em;
}

select, option {
    background-color: var(--bg-color);
    color: inherit;
    border-color: var(--diff-color-a)
}

.plannerItem-done {
    opacity: 0.25;
}

.planner-current {
    font-size: 1.4em
}

.planner-needed {
    opacity: 0.5;
}

.collection-item.done {
    opacity: 0.25;
/*    background-color: var(--diff-color-b)*/
}

.collection-item.low {
    background-color: var(--diff-color-b)
}

/* Raids */
#raids-list a {
    color: inherit;
    text-decoration: none;
}
.raid {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 1fr;
    grid-template-areas: "thumb data toggle";
    align-items: center;
    margin-bottom: 5px;
}
.raid * {
    vertical-align: middle;
/*    margin-right: 2em;*/
}
.raid-icon {
    height: 3em;
    grid-area: thumb;
/*    width: calc(20% - 2em);*/
}
.raid-data {
    display: inline-block;
    grid-area: data;
    align-items: center;
    grid-template-columns: 1fr 50px 80px 2fr;
    grid-template-rows: 100%;
    grid-template-areas: "name cost mat hosts";
    display: grid;
}
.raid-name {
    grid-area: name;
    min-width: 125px;
    line-height: 2em;
    cursor: pointer;
}
.raid-name:hover {
    background-color: var(--highlight-color);
}
.raid-cost {
    grid-area: cost;
}
.raid-cost:not(:empty)::after {
    content: " AP";
}
.raid-host-mats {
    grid-area: mat;
}
.raid-mat-icon {
    height: 1.5em;
}
.raid-mat {
    margin: 2px;
    cursor: pointer;
}
.raid-mat * {
/*    Needed for hosting script*/
    pointer-events: none;
}
.raid-mat:hover {
    background-color: var(--highlight-color);
}
.raid-hosts {
    grid-area: hosts;
    display: inline-block;
    margin-right: 0;
}
.raid-toggle {
    grid-area: toggle;
}
.raid-toggle:before {
    content: "X";
/*    cursor: pointer;*/
    font-size: 1.2em;
    color: var(--diff-color-c);
}
.host-limit {
    opacity: 0.4;
}


.canvas-container {
    width: 100%;
    position: relative;
}

button {
/*    background-color: var(--diff-color-a);*/
/*    background-color: inherit;*/
    background-color: rgba(128, 128, 128,0.4);
    color: inherit;
    border: none;
/*    border: 2px solid var(--diff-color-a);*/
    padding: 0.3em;
}

.battle-char-container {
    width: 32%;
    margin: 0.5em 0.2em;
    display: inline-block;
}

.battle-stats {
    display: inline-block;
    margin-right: 2em;
    text-align: left;
}

.battle-stats-group .battle-stats {
    display: block;
    margin-right: 0;
}

.battle-stats-group {
    display: inline-block;
    margin-right: 2em;
    max-width: 20%
}

.battle-stats-group.chara {
    max-width: 49%;
    margin-right: 1em
}

.battle-char-name {
    text-align: center;
    background-color: rgba(255,255,255,0.2);
}

.panel.centered {
    text-align: center;
}

.battle-stats-container {
    text-align: left;
}

#raid-current-drop-list {
    padding: 0.5em;
}

.raid-current-drop {
    display: inline-block;
    text-align: center;
    margin: 0.15em 0.15em;
    vertical-align: top;
}

.raid-current-drop img {
    max-width: var(--icon-size-raid-info);
}

.raid-current-drop span {
    display: block;
    max-width: var(--icon-size-raid-info);
/*    max-height: 2.4em;*/
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

[data-event] {
    cursor: pointer;
}
#raid-next-quest {
    background-color: var(--diff-color-b);
    font-size: 2em;
}
